.synapsehub__what-synapse-hub {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.synapsehub__what-synapse-hub__feature {
    display: flex;
}

.synapsehub__what-synapse-hub__feature .synapsehub__what-synapse-hub__features-container__feature {
    margin: 0;
}

.synapsehub__what-synapse-hub__feature .synapsehub__what-synapse-hub__features-container__feature-text {
    max-width: 700px ;
}

.synapsehub__what-synapse-hub__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 4rem 0 2rem;
}

.synapsehub__what-synapse-hub__heading h1 {
    font-size: 34px;
    line-height: 46px;
    max-width: 520px;
    font-family: var(--font-family);
    font-weight: 800;
}

.synapsehub__what-synapse-hub__heading p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--color-subtext);
    cursor: pointer;
}

.synapsehub__what-synapse-hub__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: 2rem;
}